body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  .search-bar{
    border:none;
    outline:none;
    width:300px;
  }
  